@page "/Login"
@rendermode InteractiveServer

<PageTitle>Login</PageTitle> 

<main>
    <form>
        <div class="row">Wallet Address</div>

        <div class="row">Wallet ID</div>
    </form>
</main>


